/* 全体共通 */
body {
    font-family: 'Noto Sans 3P', sans-serif;
    background-color: #181619;
}

/* ヘッダー */
header {
    color: #ffffff;
}

header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 0;
}

header .logo {
    font-size: 24px;
    font-weight: 700;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin-left: 50px;
}

/* エインビジュアル */
.main_visual {
    background-images: url('../images/mv.jpg');
}